@using VKR_2._0.Models
@model HomeIndexVM
@{
    ViewData["Title"] = "Биржа труда";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p>Проект ВКР на тему "Разработка сервиса для поиска работы и публикации вакансий".</p>
</div>




